---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
    <section class="grid md:grid-cols-2 items-center">
        <div class="h-full">
            <img src="/map-2.jpeg" class="" alt="">
            <div class="bg-stone-200 p-10 text-base h-[55vh] border-b place-items-center text-black/90 grid md:text-lg text-center order-2 md:order-1">
        
                <p><strong>Address:</strong><br>
                    Camino Escénico at Playa La Ropa S / N,<br>
                    La Ropa Beach, 40880<br>
                    Zihuatanejo, Guerrero, México
                </p>
                <div>
                    <a href="https://lacasaquecanta.com/wp-content/uploads/2022/12/Presentacion_lcqcENG.pdf" target="_blank" class=" text-center text-base bg-black/90 font-semibold uppercase py-3 px-6 text-white hover:bg-black/60">Download Brochure</a>

                </div>
        </div>
        </div>
        <div>
            <div class="p-4 md:p-10 flex flex-col flex-wrap gap-2">
                <div class="mt-8">
                    <h1 class="font-bold text-5xl lg:text-7xl text-black/90 text-balance" >Contact & Find Us</h1>
                    <mark class="text-lg">Please contact us at:</mark>
                </div>
                <div class="mb-8">
                    <p><strong>Email:</strong><br>
                        <a class="text-sm" href="mailto:sales.reservations@lacasaquecanta.com">sales.reservations@lacasaquecanta.com</a></p>
                        <p><strong>Telephone:</strong></p>
                        <ul>
                            <li>USA: 1 888 523 5050</li>
                            <li>Mexico: +52 800 710 9345</li>
                            <li>Frontdesk: +52 755 555 7030</li>
                            <li>Reservations: +52 755 555 7000</li>
                            <li>Sales & reservations: 55 2564 1838</li>
                        </ul>
                        <p><strong>Business Hours:</strong><br>
                        9 AM to 6 PM (CST) – Closed on Sundays</p>
                </div>
            </div>
            <img src="/map-1.jpeg" alt="">

        </div>

    </section>

    
    
</Layout>