---
import Layout from "@layouts/Layout.astro";

---
<Layout title="Discovers our offers" >

<section class="py-32 relative">
    <div class="top-0 opacity-20 bg-[url('https://lacasaquecanta.com/wp-content/uploads/2022/07/main-bg.jpeg')] bg-cover bg-center bg-no-repeat absolute w-full h-full"></div>
    <div class="grid  max-w-6xl mx-auto ">
        <div class="max-w-4xl px-4 mx-auto mb-10 text-center relative">
            <h1 class="text-4xl md:text-5xl lg:text-7xl mb-6 font-bold">Explore Luxury villas
            </h1>
            <p>An escape from routin, a connection with nature.
                an occasion to relate with your inner self

            </p>

        </div>
        <div class=" grid gap-6 grid-cols-1 px-4 md:grid-cols-2 relative ">
                <div class="group relative bg-cover bg-center  aspect-square lg:aspect-[16/11] grid items-end text-white  overflow-hidden">
                    <div class="absolute z-10 w-full h-full top-0 bg-gradient-to-br from-transparent to-gray-900 opacity-60"></div>
                    <img class=" absolute z-0 w-full h-full top-0 object-cover group-hover:scale-[1.02] transition duration-300 ease-in-out" src="/murmullo_01.jpg" alt=""/>
                    <div class="relative p-4 z-20">
                        <h3 class="text-3xl mb-6 md:text-6xl  ">El murmullo</h3>
                        <p class="">Experience the luxury of this Mexican home with Mediterranean nautical touches, ideal setting to admire the peaceful climate and panoramic views of the picturesque bay of Zihuatanejo.
    
                        </p>
                    </div>
                   
                    <div>
                        <div class="flex flex-wrap p-4 gap-4  ">
                            <a href="https://www.el-murmullo.com/" target="_blank" class="relative text-sm z-10 bg-black/90 font-semibold uppercase py-3 px-6 text-white hover:bg-black/60">More details</a>
                        </div>

                    </div>
                    
                  </div>
                  <div class="group relative bg-cover bg-center  aspect-square lg:aspect-[16/11] grid items-end text-white  overflow-hidden">
                    <div class="absolute z-10 w-full h-full top-0 bg-gradient-to-br from-transparent to-gray-900 opacity-60"></div>
                    <img class=" absolute z-0 w-full h-full top-0 object-cover group-hover:scale-[1.02] transition duration-300 ease-in-out" src="/ensueno-01.jpeg" alt=""/>
                    <div class="relative p-4 z-20">
                        <h3 class="text-4xl mb-6 md:text-6xl  ">El Ensueño </h3>
                        <p class="">This stunning oceanfront boutique villa at la Ropa beach offers personalized Meal Plans, local food prepared by its chef and caring attention to our house guests.
    
                        </p>
                    </div>
                    <div>
                        <div class="flex flex-wrap p-4 gap-4  ">
                            <a href="https://www.el-ensueno.com/" target="_blank" class="relative text-sm z-10 bg-black/90 font-semibold uppercase py-3 px-6 text-white hover:bg-black/60">More details</a>
                        </div>

                    </div>
                    
                  </div>
          
        </div>
        

    </div>
</section>

</Layout>