---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Bienvenido a Astro.">
    <section class="h-72 bg-center bg-[url('/accomodations.jpg')] bg-cover ">
    </section>
    <section class="bg-center bg-cover bg-[url('/palm-bg-front.png')] bg-fixed">
        <div class="px-4 grid md:grid-cols-2 py-10 max-w-7xl items-center mx-auto justify-between ">
            <div class="mb-8">
                <h2 class="text-5xl lg:text-7xl text-black/90 text-balance font-bold">
                    Alojamiento</h2>
                    <mark class="text-xl font-bold">Pequeño hotel boutique de lujo
                    </mark>
            </div>
            <div class="text-justify text-base grid gap-4">
                <p>La Casa Que Canta es un pequeño hotel de lujo con esencia, historia y una personalidad propia.
                    Ubicado en Zihuatanejo junto a la hermosa playa La Ropa, este hotel ofrece vistas panorámicas incomparables.</p>
            </div>
        </div>
    </section>
    <section class="grid md:grid-cols-2">
        <div class="col-span-1 md:col-span-2 md:aspect-[16/4] grid items-end bg-[url('/accomodations/3.jpeg')] bg-cover bg-center">
            <div class="p-10">
                <h2 class="text-5xl lg:text-7xl text-white text-balance font-bold">
                    Mexico lindo Suite</h2>
                <div class="flex-col md:flex-row flex mt-2 gap-1 md:gap-6 font-medium">
                    <span class="flex items-center text-white gap-2">
                        1,760ft² | 165m²
                    </span>
                    <span class="flex items-center text-white gap-2">
                        Cama King Size
                    </span>
                    <span class="flex items-center text-white gap-2">
                        2 huéspedes
                    </span>
                </div>
                <div class="py-6">
                    <a href="/accomodations/mexico-lindo-suite" class="bg-black/90 font-semibold uppercase py-3 px-6 text-white hover:bg-black/60">Más detalles</a>
                </div>
            </div>
        </div>
        <div class="col-span-1 h-full md:aspect-video grid items-end bg-[url('/accomodations/4.jpeg')] bg-cover bg-center">
            <div class="p-10">
                <h2 class="text-5xl lg:text-7xl text-white text-balance font-bold">
                    Owner's Pool Suite</h2>
                <div class="flex-col md:flex-row flex mt-2 gap-1 md:gap-6 font-medium">
                    <span class="flex items-center text-white gap-2">
                        1,200ft² | 112m²
                    </span>
                    <span class="flex items-center text-white gap-2">
                        Cama King Size
                    </span>
                    <span class="flex items-center text-white gap-2">
                        2 huéspedes
                    </span>
                </div>
                <div class="py-6">
                    <a href="/accomodations/owners-pool-suite" class="bg-black/90 font-semibold uppercase py-3 px-6 text-white hover:bg-black/60">Más detalles</a>
                </div>
            </div>
        </div>
        <!-- ...continuer pour les autres suites... -->
    </section>
</Layout>
