---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Política de Privacidad - La Casa Que Canta">
    <section class="relative">
        <div class="absolute inset-0 flex items-center justify-center">
            <h1 class="text-3xl md:text-7xl font-bold text-white">Política de Privacidad</h1>
        </div>
        <img src="/intro-3.jpg" class="aspect-[16/4] object-cover" alt="">
    </section>
    <section class="max-w-6xl mx-auto py-24">
        <div class="px-6 py-4">
            <p class="text-lg font-semibold">
              En “La Casa Que Canta” (en adelante CASACANTA ZIHUA SA DE CV.) somos conscientes de la importancia de mantener la confidencialidad de la información personal y sensible de nuestros huéspedes y clientes. Nos comprometemos a proteger su información y privacidad de acuerdo con la “Ley Federal de Protección de Datos Personales en Posesión de los Particulares”, publicada bajo la ley mexicana en el Diario Oficial de la Federación el 5 de julio de 2010. Ponemos a su disposición información importante sobre la recopilación y uso de datos personales.
            </p>
          
            <h2 class="mt-4 text-2xl md:text-3xl font-bold">Recopilación de datos</h2>
            <p class="mt-2">
              Es posible que recopilemos información personal en cualquiera de los puntos de contacto e interacción que tenemos con nuestros clientes, incluyendo nuestro sitio web, sistema de reservas, información enviada o compartida a través de nuestras redes sociales, nuestros sistemas y en el hotel. Dicha información puede incluir: datos de contacto; información relacionada con su reserva, estancia o visita al hotel; información relacionada con la compra y disfrute de productos y servicios que ofrecemos; características personales, nacionalidad, número de pasaporte o identificación oficial y su lugar y fecha de emisión; historial de visitas previas al hotel; información de pago; RFC, actividad, preferencias durante la estancia; preferencias de marketing y comunicación; comentarios y opiniones sobre nuestros servicios e instalaciones; paquetes reservados en el hotel, información y preferencias de viaje. También es posible que registremos información relacionada con acompañantes como nombre y preferencias durante la estancia. También podemos recopilar información médica que usted comparta con nosotros.
            </p>
          
            <h2 class="mt-4 text-2xl md:text-3xl font-bold">Uso de información personal y sensible</h2>
            <p class="mt-2">
              CASACANTA ZIHUA SA DE CV. utiliza la información anterior para brindarle los servicios solicitados o relacionados con una compra o parte de un programa. También podemos usar esta información para: mejorar nuestros servicios y ofrecer el nivel de hospitalidad que espera; asegurarnos de que nuestro sitio web, productos y servicios sean de su interés; procesar pagos, reembolsos, suscripciones y/o solicitudes; responder y solicitar información sobre los bienes y servicios que ofrecemos. También usamos esta información para enviar comunicaciones relacionadas con nuestros servicios, promociones, ofertas y eventos especiales.
            </p>
          
            <h2 class="mt-4 text-2xl md:text-3xl font-bold">Transferencia de datos</h2>
            <p class="mt-2">
              CASACANTA ZIHUA SA DE CV. puede transmitir información personal a un tercero cuando esta información sea requerida para la prevención y diagnóstico de un problema médico, cuando sea necesario para brindar atención médica o cuando lo solicite una autoridad competente.
            </p>
            <p class="mt-2">
              Podemos transferir sus datos a un tercero que opere nuestro software y estructura informática para prestar nuestros servicios; al dar mantenimiento o reparar cualquier falla en nuestros sistemas.
            </p>
            <p class="mt-2">
              Si el cliente no manifiesta su oposición a la transferencia de sus datos personales, se entenderá que acepta esta política.
            </p>
          
            <h2 class="mt-4 text-2xl md:text-3xl font-bold">Protección de datos personales</h2>
            <p class="mt-2">
              CASACANTA ZIHUA SA DE CV. ha tomado las medidas de seguridad físicas, técnicas y administrativas necesarias para salvaguardar la información personal y sensible que se mantiene en nuestros servidores y sistemas y evitar que sea sustraída o vista sin la debida autorización. Nuestros servidores y sistemas han sido configurados con cifrado de datos. Cuando usted ingresa su información durante una reserva o al registrar su correo electrónico para solicitar información, sus datos están protegidos mediante tecnología SSL.
            </p>
          
            <h2 class="mt-4 text-2xl md:text-3xl font-bold">Identidad y domicilio del responsable</h2>
            <p class="mt-2">
              CASACANTA ZIHUA SA DE CV. declara ser una empresa legalmente constituida conforme a la ley mexicana, con domicilio fiscal en Montes Urales 720 Piso 1, Oficina 1-A, Lomas de Chapultepec I Sección, Miguel Hidalgo, 11000, CDMX, y la dirección del hotel en Camino Escénico a Playa La Ropa, Colonia La Ropa, 40880 Zihuatanejo, Gro., México.
            </p>
          
            <h2 class="mt-4 text-2xl md:text-3xl font-bold">Medios para ejercer los derechos de acceso, rectificación, cancelación u oposición de datos personales (ARCO)</h2>
            <p class="mt-2">
              Todos sus datos personales son tratados conforme a la legislación aplicable y vigente en el país, por lo que le informamos que tiene derecho a acceder, rectificar, cancelar u oponerse al tratamiento que damos a sus datos personales en cualquier momento. Puede ejercer estos derechos enviando esta solicitud por escrito a nuestro Departamento de Reservas y Ventas a <a href="mailto:sales.reservations@lacasaquecanta.com" class="text-blue-600 underline">sales.reservations@lacasaquecanta.com</a>, teléfono <a href="tel:+527555557000" class="text-blue-600 underline">+52 (755) 555 7000</a>. Recibirá una respuesta en el plazo permitido por la ley y por el medio seleccionado en el formulario de solicitud.
            </p>
          
            <h2 class="mt-4 text-2xl md:text-3xl font-bold">Modificaciones a este aviso de privacidad</h2>
            <p class="mt-2">
              Este aviso de privacidad puede ser modificado por CASACANTA ZIHUA SA DE CV. en cualquier momento. Cualquier modificación será informada oportunamente a través de su sitio web en <a href="https://www.lacasaquecanta.com" class="text-blue-600 underline">www.lacasaquecanta.com</a> indicando la fecha de la última versión.
            </p>
          
            <p class="mt-4 italic text-sm">Junio 2023</p>
</div>
    </section>
</Layout>
